

.breadcrumbs{
 

    width: 50%;
    background: #d8d8d8;
    padding: 20px;
    margin-left: 10px;
    box-shadow: 0px 5px 23px -3px black;
    margin-bottom: 10px;


    span{
        margin-left: 10px;
    }
}