@keyframes example {
    0% {
        margin-top: 10%;
    }

    25% {
        margin-top: 10.5%;
    }

    50% {
        margin-top: 9.5%;
    }

    100% {
        margin-top: 10%;
    }
}

.modal {
    &.background {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.239);
        z-index: 10000;

        .contentModal {
            background-color: rgb(255, 255, 255);
            margin: auto;
            width: max-content;
            margin-top: 10%;
            border-radius: 10px;

            min-width: 40%;

            animation-name: example;
            animation-duration: 0.15s;
            animation-iteration-count: 2;



            .titelModal {
                text-align: center;
                padding: 10px;

                h1 {
                    font-size: large;
                    color: rgb(161, 161, 161);
                }

                h2 {
                    font-size: medium;
                    color: rgb(161, 161, 161);
                }

                border-bottom: solid 1px #dadada;

                h1{
                    width: 80%;
                    display: flex;
                    text-align: center;
                    margin: auto;
                    align-items: center;
                    img{
                        margin-left: 10px;
                    }
                }
            }

            .bodyModal {
                padding: 10px;
                padding-left: 30px;
            }

            .footerModal {
                padding: 10px;

                border-top: solid 1px #dadada;

                .bottonera{
                    align-items: flex-end;
                    display: flex;
                    vertical-align: text-top;
                    .btn{
                        margin: 5px;

                        
                    }


                }
            }
        }


    }
}

@media only screen and (max-width : 576px) {
    .modal {
        &.background {
    
            .contentModal {
                margin-top: 50px;
                width: 100%;
            }
        }
    }
}