* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
}
.pointer {
    cursor: pointer;
}

.pd{
    padding: 1em;
}

.header{
    border-bottom:solid 1px $secondary ;
    padding-left:3em ;
}