
// Colors
$primary: #E37222;
$primary-ligth:#EEAA7B;


$secondary:#078898;
$secondary-ligth:#66B9BF;

$light-grey: #d8d8d8;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;



//otro color del coso redondo
//#c1c2c1

